# compiled output
dist
node_modules
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

test-services
backend/coverage/clover.xml
backend/coverage/coverage-final.json
backend/coverage/lcov.info
backend/coverage/lcov-report/base.css
backend/coverage/lcov-report/block-navigation.js
backend/coverage/lcov-report/favicon.png
backend/coverage/lcov-report/index.html
backend/coverage/lcov-report/prettify.css
backend/coverage/lcov-report/prettify.js
backend/coverage/lcov-report/sort-arrow-sprite.png
backend/coverage/lcov-report/sorter.js
backend/coverage/lcov-report/src/index.html
backend/coverage/lcov-report/src/main.ts.html
backend/coverage/lcov-report/src/config/database.config.ts.html
backend/coverage/lcov-report/src/config/index.html
backend/coverage/lcov-report/src/config/jwt.config.ts.html
backend/coverage/lcov-report/src/entities/index.html
backend/coverage/lcov-report/src/entities/transaction.entity.ts.html
backend/coverage/lcov-report/src/entities/user.entity.ts.html
backend/coverage/lcov-report/src/entities/wallet.entity.ts.html
backend/coverage/lcov-report/src/migrations/1751904793464-migration.ts.html
backend/coverage/lcov-report/src/migrations/1751904802670-migration.ts.html
backend/coverage/lcov-report/src/migrations/1751906333310-migration.ts.html
backend/coverage/lcov-report/src/migrations/1752168652812-migration.ts.html
backend/coverage/lcov-report/src/migrations/1752250265213-migration.ts.html
backend/coverage/lcov-report/src/migrations/1752706474858-migration.ts.html
backend/coverage/lcov-report/src/migrations/index.html
backend/coverage/lcov-report/src/modules/app/app.controller.ts.html
backend/coverage/lcov-report/src/modules/app/app.module.ts.html
backend/coverage/lcov-report/src/modules/app/app.service.ts.html
backend/coverage/lcov-report/src/modules/app/index.html
backend/coverage/lcov-report/src/modules/auth/auth.controller.ts.html
backend/coverage/lcov-report/src/modules/auth/auth.module.ts.html
backend/coverage/lcov-report/src/modules/auth/auth.service.ts.html
backend/coverage/lcov-report/src/modules/auth/index.html
backend/coverage/lcov-report/src/modules/auth/stratgies/index.html
backend/coverage/lcov-report/src/modules/auth/stratgies/jwt-auth.guard.ts.html
backend/coverage/lcov-report/src/modules/auth/stratgies/jwt.strategy.ts.html
backend/coverage/lcov-report/src/modules/auth/stratgies/local.strategy.ts.html
backend/coverage/lcov-report/src/modules/users/index.html
backend/coverage/lcov-report/src/modules/users/users.controller.ts.html
backend/coverage/lcov-report/src/modules/users/users.module.ts.html
backend/coverage/lcov-report/src/modules/users/users.service.ts.html
backend/coverage/lcov-report/src/modules/users/dto/index.html
backend/coverage/lcov-report/src/modules/users/dto/update-primary-currency.dto.ts.html
backend/coverage/lcov-report/src/modules/users/dto/update-user-preferences.dto.ts.html
backend/coverage/lcov-report/src/modules/users/dto/user.create.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/index.html
backend/coverage/lcov-report/src/modules/wallet/wallet.module.ts.html
backend/coverage/lcov-report/src/modules/wallet/controllers/index.html
backend/coverage/lcov-report/src/modules/wallet/controllers/transaction.controller.ts.html
backend/coverage/lcov-report/src/modules/wallet/controllers/wallet.controller.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/create-transaction.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/create-transfer.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/create-wallet.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/index.html
backend/coverage/lcov-report/src/modules/wallet/dto/update-transaction.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/update-wallet.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/dto/wallet-with-balance.dto.ts.html
backend/coverage/lcov-report/src/modules/wallet/services/index.html
backend/coverage/lcov-report/src/modules/wallet/services/transaction.service.ts.html
backend/coverage/lcov-report/src/modules/wallet/services/wallet.service.ts.html
backend/coverage/lcov-report/src/utils/common.utility.ts.html
backend/coverage/lcov-report/src/utils/index.html
